<div class="bg-white">
    <div class="grid grid-cols-12 py-4 pl-2">
        <div class="col-span-1 ">
            <img class="rounded-full  w-10" src="https://ko-fi.com/img/anon2.png?v=1" alt="img-profile">
        </div>
        <div class="col-span-10 p-4 ">
            <textarea class="w-full border-none outline-0" placeholder="Write a Quick Update" name="" id="" cols="80" rows="5"></textarea>
        </div>

        <div class="col-start-7 col-span-5 m-2 pl-4 py-2 text-center rounded-md h-10  bg-[#ff5f5f29] text-[#ff5f5f]"> Posts</div>

        <div class="p-2 grid grid-cols-9 col-span-11">
            <div class="col-span-4 py-3"><hr></div>
            <div class="col-span-1 px-4">or</div>
            <div class="col-span-4 py-3"><hr></div>
        </div>

        <div class="grid grid-cols-2 col-span-11">
            <div class="col-span-1 m-2 pl-4 py-2 hover:bg-[#eee] text-center rounded-l-full rounded-r-full h-10 bg-[#f6f6f9]"><span>🖼️</span> Images</div>
            <div class="col-span-1 m-2 pl-4 py-2 hover:bg-[#eee] text-center rounded-l-full rounded-r-full h-10 bg-[#f6f6f9]"><span>🎬</span> Video</div>
            <div class="col-span-1 m-2 pl-4 py-2 hover:bg-[#eee] text-center rounded-l-full rounded-r-full h-10 bg-[#f6f6f9]"><span>📝</span> Blog Post</div>
            <div class="col-span-1 m-2 pl-4 py-2 hover:bg-[#eee] text-center rounded-l-full rounded-r-full h-10 bg-[#f6f6f9]"><span>🎧</span> Audio</div>
        </div>
    </div>

    
</div>

