<div class="bg-white rounded-[15px] py-4 px-6 my-5 w-full grid grid-row-3 " style="box-shadow: 1px 0 4px rgb(0 2 4 / 6%), 0 7px 18px rgb(1 1 1 / 5%);">
    <div class="font-medium text-lg text-[#26272a] ">
        Buy a Coffee for Victoria Banks
    </div>
    <div class="grid grid-cols-2">
        <div class="mr-2 col-span-1 rounded-l-full rounded-r-full my-2 text-center border-[#eaebec] border-2 py-1.5 ">
            One time
        </div>
        <div class="ml-2 active col-span-1 rounded-l-full rounded-r-full my-2 border-[#eaebec] border-2 py-1.5 grid justify-items-center  ">
            <div class="flex ">
                <img class="w-4 mr-2" src="assets/IconsSvg/redo.svg" alt="icon-redo" srcset="">
                Monthly
            </div>
        </div>
    </div>
    <div class="grid grid-cols-3">
        <div class="col-span-1">
            <div class="flex">
                <div class="py-2 pr-2">
                    <img class="w-[43px] h-[28px]" src="https://storage.ko-fi.com/cdn/cup-border.png" alt="" srcset="">
                </div>
                <div class="py-2 text-[#26272a] text-[15px]">
                    $4 for-each
                </div>
            </div>
        </div>
        <div class="col-span-1 col-start-3 grid grid-cols-4 ">
            <div class="col-span-1 border-[#eaebec] w-10 h-10 border-2 rounded-full text-center grid justify-items-center content-center">-</div>
            <div class="col-span-2 border-[#eaebec] h-10 w-20 rounded-full border-2 text-center grid justify-items-center content-center">1</div>
            <div class="col-span-1 border-[#eaebec] w-10 h-10 border-2 rounded-full text-center grid justify-items-center content-center">+</div>
        </div>
    </div>
    <div class="">
        <div class="mt-2.5 py-2 border-[#eaebec] border-2 flex rounded-md">
           <span class="px-4 text-[#434b57] opacity-80 text-lg font-bold">$</span> <input class="outline-0 w-full" type="text">
        </div>
        
        <input placeholder="Your name or nickname" class="outline-1 w-full mt-2.5 py-2 px-3 border-[#eaebec] border-2 flex rounded-md" type="text">

        <textarea placeholder="Your message" class="outline-1 w-full mt-2.5 py-2 px-3 border-[#eaebec] border-2 flex rounded-md" cols="30" rows="4"></textarea>
        <div class="my-2 text-[#26272a] text-base ">
            <input style="accent-color: #42d6aa;" class="w-[16px] h-[16px] checkbox" type="checkbox"> Private message 
        </div>
        <div class="col-start-3 my-2 col-span-3 text-white bg-[#5cb85c] font-bold text-lg  py-[5px]  grid justify-center rounded-l-full rounded-r-full h-10  ">
            Tip 4$
        </div>
        <div class="text-center mt-4 text-sm text-[#62d5b2] font-semibold">
            Ko-fi doesn't take a fee!
            
        </div>
    </div>
   

</div>


