
    <h1 class="pl-5 text-4xl font-bold dark:text-white">Settings</h1>
    <div class="p-6 flex items-center justify-center ">
      <img class="border-2 border-gray-200 rounded-full h-24 w-24 object-center" [src]="imgSrc" alt="">
    </div>
    <div class="block p-6 rounded-lg ">
      <form>
        <div class="form-group mb-6">
          <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700 font-bold">Name</label>
          <input type="email" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="exampleInputEmail2"
            aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group mb-6">
          <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700 font-bold">Username</label>
          <input type="password" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="exampleInputPassword2"
            placeholder="Username">
        </div>
        <div class="form-group mb-6">
          <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700 font-bold">About You </label>
          <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=""></textarea>
        </div>
        <div class="form-group mb-6">
          <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700 font-bold">What do You do?</label>
            <select id="countries" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-black focus:border-black dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-black dark:focus:border-black">
                <option  selected>Intrests</option>
                <option class="bg-red" value="US">xxxx</option>
                <option value="CA">yyyy</option>
                <option value="FR">zzzz</option>
                <option value="DE">aaaaa</option>
            </select>
        </div>
        <div class="form-group mb-6">
          <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700 font-bold">Website </label>
          <input type="email" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="exampleInputEmail2"
            aria-describedby="emailHelp" >
        </div>

       

        
      </form>
    </div>

