<div class="bg-white  w-full py-6  px-10" style="box-shadow: 0 5px 8px #00098000, 0 5px 16px rgb(0 9 128 / 5%);">

  <div class="grid grid-cols-12 place-items-end	">
    <div class="col-span-1 py-2">
      <img class="w-full h-7" src="assets/logoKofi.svg">
    </div>

    <div class="col-span-7 bg-slate"></div>

    <div class="col-span-4 grid grid-cols-3 gap-x-4  place-items-end ">
      <div class="col-span-1  px-4  py-2  rounded-3xl		">
        <div class="w-full   grid grid-cols-2    ">
          <div class="col-span-1 place-self-start	">
            <a href="" title="Home">
              <img class="w-full h-7 rounded-full" src="assets/images/avatar.png">
            </a>
          </div>
          <div class="col-span-1  place-self-center text-center">
            <h1 class="cursor-pointer font-bold text-[14px] ">Your Page</h1>
          </div>
        </div>
      </div>

      <div class=" ml-8 col-span-1 grid grid-cols-3 py-2 gap-x-6 place-items-end">
        <div class="col-span-1">
          <a href="" title="Notifications">
            <img class="w-full h-7" src="assets/IconsSvg/notifiacationIcon.svg">
          </a>
        </div>
        <div class="col-span-1">
          <a href="" title="Home">
            <img class="w-full h-7" src="assets/IconsSvg/homeIcon.svg">
          </a>
        </div>
        <div class="col-span-1">
          <img class="w-full h-7" src="assets/IconsSvg/menuIcon.svg">
        </div>
      </div>

    </div>
  </div>
</div>