<div class="bg-white rounded-[15px] py-8 px-6 my-5 w-full grid grid-row-3 " style="box-shadow: 1px 0 4px rgb(0 2 4 / 6%), 0 7px 18px rgb(1 1 1 / 5%);">
    <div class="grid grid-cols-12">
        <div class="col-span-2 w-12">
            <img class="rounded-full" src="https://ko-fi.com/img/anon2.png?v=1" alt="img-profile">
        </div>
        <div (click)="openDialog()" class="col-span-10  p-2 pl-4 rounded-l-full rounded-r-full bg-[#f7f7f7] hover:bg-[#eee] cursor-pointer">
            <div class="text-[#434b57] font-normal">Write a Quick Update</div>
        </div>
    </div>
    <div class="py-2 grid grid-cols-9">
        <div class="col-span-4 py-3"><hr></div>
        <div class="col-span-1 px-4">or</div>
        <div class="col-span-4 py-3"><hr></div>
    </div>

    <div class="py-2 grid grid-cols-4 w-10/12">
        <div class="col-span-1 ">
            <span>🖼️</span> Images
        </div>
        <div class="col-span-1">
            <span>🎬</span> Video
        </div>
        <div class="col-span-1 ">
            <span>📝</span> Blog Post
        </div>
        <div class="col-span-1">
            <span>🎧</span> Audio
        </div>
    </div>
</div>


