
<div class="col-span-1 rounded-[15px]   w-full grid grid-row-3 " style="box-shadow: 1px 0 4px rgb(0 2 4 / 6%), 0 7px 18px rgb(1 1 1 / 5%);">
    <div class="img bg-black h-[300px] rounded-t-[10px] w-full bg-center bg-[url('https://storage.ko-fi.com/cdn/useruploads/post/0809f13d-db3b-4c59-8ccb-e7658b83eb99_img_1818_2.jpeg')]">

    </div>
    <div class="description">
        <div class="title text-[#434b57] font-bold p-2 text-xl">
            Handwritten Autographed Lyric
        </div>
        <div class="info text-[#434b57] p-2 opacity-80 text-base font-normal">
            Victoria will hand-write and autograph a lyric sheet for a song of your choice from her catalog. WAT...
        </div>
    </div>
</div>

