<div class="my-4 rounded-[10px]" style="box-shadow: 1px 0 4px rgb(0 2 4 / 6%), 0 7px 18px rgb(1 1 1 / 5%);">
    <div class="py-2 flex">
        <img class="w-16 rounded-full" src="https://storage.ko-fi.com/cdn/useruploads/7c8b529f-4825-47db-8382-1a442b3f92f9.png" alt="">
        <div class="p-4 text-[#434b57] font-bold">
            fellaji amine
            <div class="text-[#848a95] text-sm  font-normal">
                2 yrs ago
            </div>
        </div>
    </div>
    <div class="img bg-black  rounded-t-[10px] ">
        <img src="https://storage.ko-fi.com/cdn/useruploads/display/a47c2a30-8960-46ad-a71f-cb9b7591eb97_keeping-the-rave-alive2014.jpg" alt="image-post" srcset="">
    </div>
    <div class="description">
        <div class="title text-[#434b57] font-bold p-2 text-xl">
            International Podcast Day!!
        </div>
        <div class="info text-[#434b57] p-2 opacity-80 text-base font-normal">
            I've been an avid fan of podcasting since the early days of my DJ career, downloading episodes of This Week In Tech and syncing to my iPod to listen on the long night drives home from gigs. 
            Podcasting is a revolution. Before podcasting you needed professional radio experience to get a job in bro...
        </div>
        <div class="icons flex p-4">
            <div class=" cursor-pointer flex">
                <img class="w-4" src="assets/IconsSvg/heart-white.svg" alt="" srcset="">
                <div class="px-2">1</div>
            </div>
            <div class=" cursor-pointer flex">
                <img class="w-4" src="assets/IconsSvg/comment.svg" alt="" srcset="">
                <div class="px-2">1</div>
            </div>
        </div>
    </div>
</div>




