
<div class="col-span-1 rounded-[15px] p-4 w-full grid grid-row-3 " style="box-shadow: 1px 0 4px rgb(0 2 4 / 6%), 0 7px 18px rgb(1 1 1 / 5%);">
    <div class="description">
        <div class="grid grid-cols-4">
            <div class="col-span-3 title text-[#434b57] font-bold p-2 text-xl">
                Handwritten Autographed Lyric
            </div>
            <div class="col-span-1 grid justify-items-end">
                <div class="w-max py-2 px-4 font-bold text-lg  rounded-[10px] bg-[#e5f4e5] text-[#5cb85c]"> 150 $</div>
            </div>
        </div>
        <div class="info text-[#434b57] p-2 opacity-80 text-base font-normal">
            Do you have aspirations to be a professional songwriter? Are you
            trying to figure out the next step in your journey as an artist? Are you
            already signed, and trying to figure out a strategy for success?  Are you struggling
            with your creative process, or trying to figure out how to network? With 25 years of experience
            as a pro on Nashville's Music Row, Victoria wants to talk about where you are, where you want to
            go, and how to get there.
            Consultation sessions are done on Zoom and last up to one hour.
        </div>
    </div>
    <div class="img grid justify-items-center py-4">
        <img class="max-h-64" src="https://storage.ko-fi.com/cdn/useruploads/post/5f4f759b-0833-4f2d-a6f5-ccd126780f0b_sara-kauss-photography-3370_bw.jpg" alt="image-service">
    </div>

    <div (click)="openDialog()"  class="m-2 cursor-pointer text-white bg-[#5cb85c] font-bold text-lg  py-[5px]  grid justify-center rounded-l-full rounded-r-full h-10  ">
        Request This
    </div>

</div>

